html, body {
    @include margin(0rem,0rem,100%);
	background: $black;
    color: $text1;
    font-family: $normalfont, 'Times New Roman', sans-serif;
    font-size: 18px;
    min-height: 100%;

    > content {
        @include flexcenter(column,center,center);
        @include margin(0rem,0rem,100%);
    }
}

body {
	display: block;
}

@media only screen and (max-width: 740px) {
    html, body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 259px) {
    html:before {
        @include flexcenter(column,center,center);
        @include margin(0rem,0rem,100%);
        background: linear-gradient(to bottom, $black 0%, $alpha 5%, $alpha 95%, $black 100%);
        background-repeat: no-repeat;
        background-position: center 5%;
        background-size: 100%;
        color: $text1;
        content: 'Apparaat te klein';
        fill: $text1;
        font-family: $normalfont, 'Times New Roman', sans-serif;
        font-size: 18px;
        height: 100vh;
    }
        
    body {
        display: none;
    }
}

@media only screen and (max-height: 389px) {
    html:before {
        @include flexcenter(column,center,center);
        @include margin(0rem,0rem,100%);
        background: linear-gradient(to bottom, $black 0%, $alpha 5%, $alpha 95%, $black 100%);
        background-repeat: no-repeat;
        background-position: center 5%;
        background-size: 100%;
        color: $text1;
        content: 'Apparaat te klein';
        fill: $text1;
        font-family: $normalfont, 'Times New Roman', sans-serif;
        font-size: 18px;
        height: 100vh;
    }
        
    body {
        display: none;
    }
}