@mixin flexcenter ($richting, $align, $justify){
    align-items: $align; // center, normal, stretch, left, right
    display: flex;
    flex-direction: $richting; // column, column-reverse, row, row-reverse
    justify-content: $justify; // flex-start, flex-end, center, space-between, space-around, space-evenly
}

@mixin margin ($margin, $padding, $width){
    margin: $margin;
    padding: $padding;
    width: $width;
}

@mixin banner ($color, $location, $gray, $position){
    background-color: $color;
    background: linear-gradient(to bottom, $color 0%, $alpha 1%, $alpha 99%, $color 100%), url($location);
    background-repeat: no-repeat;
    background-position: $position;
    background-size: cover;
    border: 0px solid $alpha;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    filter: grayscale($gray);
    margin: 0rem;
    padding: 0rem;
    height: 48vh;
    width: 100%;
}

@mixin block ($height, $color)
{
    background-color: $color;
    height: $height;
    width: 100%;
}